annotated-doc>=0.0.4
anyio>=4.0.0
bleach>=6.0.0
certifi
charset-normalizer
click
contourpy
cycler
filelock
fonttools
fsspec
greenlet
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
kaggle
kagglesdk
kiwisolver
markdown-it-py
matplotlib>=3.8.0
mdurl
networkx
numpy>=1.26.0
packaging
pillow>=10.0.0,<11.0.0
playwright
protobuf
pyee
Pygments
pyparsing
python-dateutil
python-slugify
PyYAML
requests
rich
scipy>=1.12.0
shellingham
six
text-unidecode
tqdm
typer
typer-slim
typing_extensions
urllib3
webencodings
gradio==4.44.1
